.app {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.droppable {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 20px;
  padding: 0px;
  width: 100%;
}

.activeDragOver {
  animation: grow 0.05s ease-in-out forwards;
  background-color: #f5f6ff;
  opacity: 0.5;
}

.activeDragOverWithChild {
  background-color: #f5f6ff;
  opacity: 0.5;
}
.activeDragWithChildOneChild {
  height: 48px;
}

.child {
  background: #d6d8e6;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 120px;
  cursor: grab;
  box-shadow: inset 5px 0 0 0 white, inset -5px 0 0 0 white;
}

.childPlaceholder {
  animation: growWidth 0.2s ease-in-out forwards;
}

.handleRemoveSelectedElement {
  position: relative;
  padding: 0;
  overflow: hidden;
  animation: shrink 0.2s linear forwards;
}

.makeChildVisible {
  display: block !important;
  padding: 10px !important;
  width: 120px !important;
  opacity: 1 !important;
  box-shadow: inset 5px 0 0 0 white, inset -5px 0 0 0 white !important;
}

@keyframes grow {
  from {
    height: 20px;
  }
  to {
    height: 48px;
  }
}
@keyframes growWidth {
  from {
    width: 0px;
  }
  to {
    width: 120px;
  }
}
@keyframes shrink {
  from {
    opacity: 0;
    width: 120px;
  }
  to {
    opacity: 0;
    width: 0px;
  }
}
