.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  min-height: 20px;
  padding: 5px;
  width: 100%;
}

.activeDragOver {
  animation: grow 0.05s ease-in-out forwards;
  background-color: #f5f6ff;
}

.activeDragOverWithChild {
  background-color: #f5f6ff;
}
.activeDragWithChildOneChild {
  height: 48px;
}

.child {
  background: #d6d8e6;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 120px;
  margin: 0px 5px;
  cursor: grab;
}

.childPlaceholder {
  animation: growWidth 0.2s ease-in-out forwards;
}

.makeChildVisible {
  display: block !important;
}

@keyframes grow {
  from {
    height: 20px;
  }
  to {
    height: 48px;
  }
}
@keyframes growWidth {
  from {
    width: 0px;
  }
  to {
    width: 120px;
  }
}
